body {
    margin: 0;
    background-color: rgb(246, 247, 248);
    font-family: "inter", sans-serif;
  }
  
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
    }

  .header {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
  }
  
  .header p {
      margin-left: 300px;
      font-size: 20px;
  }

  .content {
    position: absolute;
    top: 62px;
    text-wrap: wrap;
    margin: 0 16px 0 16px;
    padding-bottom: 60px;
}

.joinIconResposive {
  display: none;
}

@media (max-width: 1000px) {
  .kanbanText {
    display: none;
  }
  .header {
    justify-content: flex-end;
    padding: 0 16px;
  }
  .userIcon {
    height: 40px;
    width: 40px;
  }
  .userIcon {
    font-size: 20px;
  }
  .menuRowHelp {
    padding: 8px 16px;
    text-decoration: none;
    color: #cdcdcd;
    display: block;
  }
  .menuRowHelp:hover {
    background-color: rgba(42, 61, 89, 1);
    cursor: pointer;
  }
  .helpLink {
    display: none;
  }
  .subMenu {
    padding: 6px;
    gap: 0;
  }
  .joinIconResposive {
    position: absolute;
    display: block;
    width: 51px;
    top: 18px;
    left: 34px;
  }
}
