@font-face {
  font-family: "inter";
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}


body {
  margin: 0;
  background-color: rgb(246, 247, 248);
  font-family: "inter", sans-serif;
  min-height: 100vh;
  overflow-y: auto;
}


.container {
  position: absolute;
  top: 206px;
  left: 328px;
  padding-bottom: 64px;
}


.appHeader {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 54px;
}


.appHeaderTitle {
  font-size: 61px;
  margin: 0;
  font-weight: 700;
}


.appHeaderSubtitle {
  display: flex;
  align-items: center;
  gap: 30px;
}


.subtitleText {
  font-size: 27px;
}


.metricsContainer {
  display: flex;
  gap: 56px;
}


.metricsColumn {
  display: flex;
  flex-direction: column;
  gap: 28px;
}


.metricsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}


.metricCard {
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 30px;
  padding: 30px 60px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
}



.metricIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 64px;
  height: 64px;
  background-color: rgba(42, 54, 71, 1);
  border-radius: 35px;
}


.toDoIcon {
  width: 32px;
  height: 32px;
  background: url(/assets/img/edit.png) no-repeat;
  background-position: center;
}


.checkIcon {
  width: 38px;
  height: 32px;
  background: url(/assets/img/checkOk.png) no-repeat;
  background-position: center;
}


.metricDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.metricValue {
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}


.metricLabel {
  font-size: 20px;
  margin: 0;
  text-align: center;
}


.urgentCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 30px;
  padding: 0px 32px;
  height: 168px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}


.urgentContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.urgentIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 46px;
  height: 46px;
  background-color: rgba(255, 61, 0, 1);
  border-radius: 35px;
}


.emailRequestValue {
  background: linear-gradient(180deg, #7A5CFF 0%, #3280F6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


.urgentIcon {
  width: 34px;
  height: 15px;
}


.horizontalBar {
  border-left: 2px solid rgba(209, 209, 209, 1);
  height: 100px;
}


.deadlineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.deadlineDate {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
}


.deadlineLabel {
  margin: 0;
}


.taskText {
  width: 95px;
}


.greetingContainer {
    display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}


.greetingText {
  font-size: 47px;
  font-weight: 500;
  margin: 0;
}


.userName {
  max-width: 100%;
  overflow-wrap: anywhere;
  font-size: 64px;
  font-weight: 700;
  color: rgba(41, 171, 226, 1);
  margin: 0;
}


.taskContainer {
  width: 168px;
  height: 168px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  align-items: center;
}


.metricCard:hover {
  cursor: pointer;
  background-color: rgba(42, 54, 71, 1);
  color: rgba(255, 255, 255, 1);
}


.metricCard:hover .toDoIcon {
  background: url(/assets/img/editDark.png) no-repeat;
  background-position: center;
}


.metricCard:hover .metricIconContainer {
  background-color: rgba(255, 255, 255, 1);
}


.metricCard:hover .checkIcon {
  background: url(/assets/img/checkOkDarrk.png) no-repeat;
  background-position: center;
}


.blueBorder {
  display: none;
}


.animatedImageContainer {
  display: flex;
}


@media (min-width: 1001px) and (max-width: 1200px) {
  .container {
    left: 252px;
  }
}

@media (max-width: 1000px) {
  .container {
    top: 131px;
    left: 16px;
    padding-bottom: 150px;
  }
}


@media (max-height: 821px) {
  .container {
    top: 106px;
  }

  .appHeader {
    margin-bottom: 16px;
  }

  .metricCard {
    padding: 16px 60px;
  }

  .taskContainer {
    padding: 0;
  }

  .metricsColumn {
    gap: 16px;
  }

  .taskContainer {
    width: 161px;
    height: 161px;
  }
}


@media (max-width: 1125px) {
  .metricCard {
    padding: 16px 32px;
  }

  .taskContainer {
    padding: 0;
  }

  .metricValue {
    font-size: 50px;
  }

  .taskContainer {
    width: 125px;
    height: 125px;
  }

  .metricsContainer {
    gap: 16px;
  }
}

@media (max-width: 1100px) {
  .userName {
    font-size: 42px;
  }
}
